:root {
    --secondary-color: #306d83;
    --text-color: #fff;
    --text-secondary-color: #001100;
    --background-color: #7197A5;
}
body {
    font-family: "Notable", sans-serif;
    transition: background-color 0.5s ease;
}
.menu-lateral {
    position: fixed;
    right: 0;
    top: -1000px;
    width: 300px;
    height: 0%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-lateral.ativo {
    height: 100%;
    top: 0px;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 80px;
}

.menu-lateral ul li {
    padding: 15px 30px;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li:hover {
    background-color: var(--secondary-color);
}

.toggle {
    background-color: var(--background-color);
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 6;
    border-radius: 90px;
    font-size: 24px;
    border: none;
    padding: 5px 15px 10px;
    cursor: pointer;
    color: #ecf1ee;
    transition: all 0.5s ease-in-out;
}

.toggle:hover {
    background-color: var(--secondary-color);
    font-style: italic;
}

.toggle.ativo {
    transform: rotate(-90deg);
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.background.ativo {
    opacity: 1;
    visibility: visible;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #FFE4C4;
    z-index: 6;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #2D1515;
}
.logo img {
    width: 50px;
}
.menu {
    margin-right: 12vw;
}
.menu nav ul{
    display: flex;
    gap: 30px;
    font-size: 12px;
    color: #2D1515;
}
.oferta {
    margin: 8vh 14vw;
    text-align: center;
}
.oferta h2 {
    font-size: 3rem;
    color: #2D1515;
    margin-bottom: 2vh;
    text-align: left;
}
.oferta p.text {
    font-family: "Lato", sans-serif;
    color: #3A3A3A;
    font-weight: bold;
    font-size: 30px;
    border: 8px solid #FFE4C4;
    border-radius: 50px;
    padding: 70px;
    margin: 4vh 0 6vh;
    letter-spacing: 2px;
    text-align: left;
}
.oferta img {
    width: 40vw;
    border: 3.5vw solid #7197A5;
    border-bottom: 6vw solid #7197A5;
    border-radius: 50px;
}
.dizimo {
    border: 10px solid #FFE4C4;
    border-radius: 30px;
    text-align: left;
    padding: 15px;
    margin: 8vh 0;
}
.dizimo p {
    font-size: 24px;
    color: #2D1515;
}
.dizimo div.contato {
    display: flex;
    gap: 10vw;
    align-items: center;
}
.dizimo div.contato {
    font-size: 22px;
    font-family: "Lato", sans-serif;
    padding: 40px 15px 15px;
    color: #028815;
}
.dizimo div.contato span a {
    text-decoration: underline;
}
.conteiner {
    display: flex;
    background-color: #FFE4C4;
    border-top: 1vw solid #7197A5;
    padding: 25px;
    align-items: center;
    justify-content: space-around;
}
.image {
    display: flex;
    align-items: center;
    gap: 10px;
}
.pascom {
  border-right: 0.5px solid #2d1515b4;
  padding-right: 12vw;
}
.pascom p {
  font-size: 12px;
  letter-spacing: 1px;
    text-align: justify;
    margin: 12vh 0 0 5vw;
    color: #000;
    
}

.pascom img {
    width: 80px;
}
.pascom img.imagem {
    width: 180px;
}

.endereco {
    font-size: 11px;
    color: #2d15159c;
}
.endereco h3 {
    font-size: 13px;
    padding: 10px 0;
}
.endereco p {
    padding: 5px 0;
}
.somos {
    display: flex;
    align-items: center;
    gap: 35px;
    border: 1px solid #2d1515b4;
    font-size: 13px;
    color: #2d15159c;
    padding: 15px;
    border-radius: 12px;
    margin-left: 2vw;
}