.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}


html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(to bottom, #FFE4C4 0%, #98B5BF 100%);
}

div {
    width: 100%;
    text-align: center;
    margin-top: 18px;
}

.linha {
    display: inline-block;
    position: relative;
    letter-spacing: 3px;
    padding-bottom: 10px;
    font-size: 3.2rem;
    color: #2D1515;
    font-family: "Notable", sans-serif;
}

.linha::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300%;
    height: 10px;
    background-color: #7197A5;
}

main ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1.7vw 0 1vw 0;
    margin: 5vw;
}

main ul li img {
    background-color: #D9D9D9;
    padding: 2vw 2vw 2vw 2vw;
    border-radius: 30px;
}

.um:hover {
    background-color: #000000;
    transition: 1.1s;
}
.um:not(:hover) {
    background-color: #D9D9D9;
    transition: 1.1s;
}

.dois:hover {
    background-color: #9E0000;
    transition: 1.1s;
}
.dois:not(:hover) {
    background-color: #D9D9D9;
    transition: 1.1s;
}

.tres:hover {
    background-color: #552828;
    transition: 1.1s;
}
.tres:not(:hover) {
    background-color: #D9D9D9;
    transition: 1.1s;
}

a{
    color: #2D1515;
    background: #FFE4C4;
    font-family: "Notable", sans-serif;
    padding: 0.5vw 18vw 1.6vw 18vw;
    font-size: 4.3rem;
    border-radius: 60px;
    text-decoration: none;
}
